@import 'tailwindcss';

@source '../../node_modules/@fpfe/ui/src/components';
@source '../../node_modules/@fpfe/ui/src/theme';
@plugin '../../node_modules/@fpfe/theme/src/tailwindcss';

@custom-variant dark
  (&: where(.dark, .dark *));

@layer base {
  html,
  body,
  #app {
    @apply h-full;
  }

  #app {
    @apply flex flex-col;
  }
}

@theme {
}
