@import 'tailwindcss';

@import '../../packages/ui/src/themes/color.css';
@import '../../packages/ui/src/themes/button.css';

@plugin '../../packages/ui/src/plugin.ts';

@custom-variant dark (&:is(.dark *));

@layer base {
  html,
  body,
  #app {
    @apply h-full;
  }

  #app {
    @apply flex flex-col;
  }
}

@theme {
  --color-primary-50: red;
}
